# Project files
.idea/
nbproject/
*.iml
*.lock
*.cache
out
gen

# Unit tests
modules/unittest/memory/

# Kohana template
application/cache/
application/logs/

# Composer
vendor/

# Coverage reports
build/
