parameters:
  level: 5
  paths:
    - application/classes
    - application/tests
    - system/class
    - system/tests
  scanDirectories:
    - modules/*/class
    - modules/*/tests
  bootstrapFiles:
    - public/index.php
  fileExtensions:
    - php
